body
{
    margin: 0;
    border: 2px solid black;
}
a
{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid  blueviolet;
}
:root
{
    font-size: 18px;
}
header
{
    margin: 0px 30px 30px 20px;
    display: flex;
    justify-content: flex-end;
    border: 5px solid black;
}

.logo
{
    border: 2px solid black;
    margin:20px 0px 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.jpg
{
    border: 2px solid red;
    width: 90px;
    height: 90px;
    background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw1/sprites.jpg);
    justify-content: center;
}

.jpg:hover
{
    border: 2px solid orange;
    background-position: 0 -90px;
}

.jpg:active
{
    border: 2px solid blue;
    background-position: 0 -180px;
}

.tekstlogo
{
    font-size: 20px;
    font-weight: 600;
    color: green;
    flex: 1;
    border: 1px solid black;
}

.tekstlogo1
{
    font-size: 20px;
    font-weight: 600;
    color: orange;
}
.tekstlogo2
{
    font-size: 20px;
    font-weight: 600;
    color: blue;
}

.absolutne
{
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
    color: red;
}

.relatywne
{
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
    color: blue;
}

.wrapper
{
    display: flex;
    justify-content: space-between;
}
.chartX,.chartY{
    padding: 5px;
    border:5px solid black;
    display:flex;
    justify-content: space-around;
  }
  .chartX div{
    background-color: red;
    border:2px solid red;
    min-width: 10%;
  }
  .chartX div:nth-child(1){height:2in;}
  .chartX div:nth-child(2){height:2cm;}
  .chartX div:nth-child(3){height:2pc;}
  .chartX div:nth-child(4){height:2mm;}
  .chartX div:nth-child(5){height:2pt;}
  
  .chartX
  {
      margin: 30px 30px 30px 20px;
      background-color: rgb(177, 236, 122);
  }
  .chartY
  {
    margin: 30px 30px 30px 20px;
    background-color: rgb(212, 108, 90);
    flex-direction: column;
    min-height:70vh;
  }
  .chartY div
  {
    background-color: blue;
    border:2px solid blue;
    min-height: 10vh;
  }
  .chartY div:nth-child(1){width:10%;}
  .chartY div:nth-child(2){width:10em;}
  .chartY div:nth-child(3){width:10vw;}
  .chartY div:nth-child(4){width:1vh;}
  .chartY div:nth-child(5){width:3vh;}

.text3
{
    display: flex;
    font-size: 2em;
}

h2
{
   
    font-size: 40px;
    font-weight: 600;
}

footer
{
    border: 5px solid black;
    margin: 30px 30px 30px 20px;
}

.fonts
{
    display: flex;
    justify-content: flex-end;
    color: red 
}