body
{
    margin: 0;
    font-size: 18px;
}
header
{
    display: flex;
    justify-content: space-around;
}
.jpg
{
    border: 2px solid red;
    width: 90px;
    height: 90px;
    background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw1/sprites.jpg);

}

.jpg:hover
{
    border: 2px solid orange;
    background-position: 0 -90px;
}

.jpg:active
{
    border: 2px solid blue;
    background-position: 0 -180px;
}

.tekstlogo
{
    font-size: 20px;
    font-weight: 600;
    color: green;
}

.chartX,.chartY{
    padding: 5px;
    border:5px solid black;
    display:flex;
    justify-content: space-around;
  }
  .chartX div{
    background-color: red;
    border:2px solid red;
    min-width: 10%;
  }
  .chartX div:nth-child(1){height:2in;}
  .chartX div:nth-child(2){height:2cm;}
  .chartX div:nth-child(3){height:2pc;}
  .chartX div:nth-child(4){height:2mm;}
  .chartX div:nth-child(5){height:2pt;}
  
  .chartY
  {
    flex-direction: column;
    min-height:70vh;
  }
  .chartY div
  {
    background-color: blue;
    border:2px solid blue;
    min-height: 10vh;
  }
  .chartY div:nth-child(1){width:10%;}
  .chartY div:nth-child(2){width:10em;}
  .chartY div:nth-child(3){width:10vw;}
  .chartY div:nth-child(4){width:1vh;}
  .chartY div:nth-child(5){width:3vh;}

section
{
    display: flex;
    justify-content: center;
    
    color: red;
}

.text1
{
    font-size: 1em;
}

.text2
{
    font-size: 2em;
}

.text3
{
    font-size: 3em;
}