body
{
    color:black;
    background-color: rgb(80, 80, 80);
    margin: 0;
}

.cookies
{
    position: static;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    font-weight: 600;
    color:  white;
    background-color: black;
}

.zwierzeta
{
    position: sticky;
    top: 0;
    border: 2px solid black;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 4vw;
    padding-left: 5vw;
  /* ZINDEX żeby było widać i bgcolor żeby nie było widać tła */
    z-index:1;
    background-color: aliceblue;
    font-weight: 600;
}
.first
{
  /* po to, żeby trzymała absolutne labele */
  position:relative;
}

.label
{
  /* po to, żeby była w jednym miejscu z img (nad nim)*/
  position:absolute;
  top:0;
  /* wyśrodkuj napis */
  display:flex;
  justify-content: center;
  align-items: center;
  /* bg, żeby nie było widać obrazka */
  background-color: aliceblue;
  color: green;
  font-weight: 600;
}

.img
{
    background-color: white;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
/* po kliknięciu na label, zniknij go */
.label:active{
  opacity:0;
}
/* przypnij kolejne zdjęcia */
.i1{ background-image:url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/slon.jpg?raw=true);}
.i2{ background-image:url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/zebra.jpg?raw=true);}
.i3{ background-image:url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/lew.jpg?raw=true);}
.i4{ background-image:url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/nosorozec.jpg?raw=true);}

/* .img:active
{
    background-image: url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/slon.jpg?raw=true) ;
    display: none;
    opacity:0;
} */

.wrapper
{
    min-height: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* z tym ostrożnie, bo bierzesz pod uwagę wszystkie divy w środku wrappera */
.wrapper div
{
    border-radius: 5px;
    width: 35vw;
    height: 35vw;
}


@media(max-width:720px) /*RWD*/
{
.wrapper .first
{
    /* width: 60vw;
    height: 60vw; */
    margin-top: 10vw;
}
.wrapper div{
  width: 60vw;
  height: 60vw;
}


}

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    width: 100%;
    background-color:#000;
}

footer a
{
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: flex;
}