*{
    box-sizing: border-box;
}

body
{
    margin: 0;
    background-color:rgb(94, 134, 209);
}

.container
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
header
{
    margin: 10px;
    padding: 10px;
    font-size: 3em;
    font-weight: 600;
    color: white;
    text-shadow: 0px 5px 5px black;
    background-color: rgb(87, 87, 87);
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

nav
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "b3 b2 b1" "b4 b5 b1";
    gap: 10px;
    padding: 10px;
}

nav a:nth-child(1){grid-area:b3;}
nav a:nth-child(2){grid-area:b4;}
nav a:nth-child(3){grid-area:b1;}
nav a:nth-child(4){grid-area:b2;}
nav a:nth-child(5){grid-area:b5;}

a
{
    border: 2px solid whitesmoke;
    text-decoration: none;
    color: white;
    text-shadow: 0px 2px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
}

a:hover
{
    background-color: rgb(87, 87, 87);
    color: rgb(0, 0, 0);
    text-shadow: 0px 1px 4px  rgb(255, 255, 255);
}

a i
{
    font-size: 5em;
}

footer
{
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    background-color: black;
    color: blanchedalmond;
    padding-right: 10px;
    width: 100%;
}

@media(max-width:720px){
nav
{
    grid-template-areas:
    "b5"
    "b1" 
    "b2" 
    "b4" 
    "b3";
    grid-template-columns: 1fr ;
}
}