.sprite
{
    border: 2px dashed red;
    width: 90px;
    height: 90px;
    background-image: url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw1/sprites.jpg);
    box-sizing: unset;
}

.sprite:hover
{
    border: 2px solid green;
    background-position: 0 -90px;
}
/*dobrze używac do zdjec takich formatow jak webp aby zmniejszyc rozmiar zdjec np getpaint.net/gimp*/
.sprite:active
{
    border: 2px dashed blue;
    background-position: 0 -180px;
}